# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/

# Django static files
staticfiles/
media/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (if you used npm/yarn for frontend)
node_modules/
package-lock.json
